<div class="jumbotron" >
        <label for="name">Nombre del Alumno:</label>
        <input type="text" class="form-control" placeholder="Nombre" ng-model="alumno.nombre">
        <br>
        <label for="asignatura">Asignatura:</label>
        <input type="text" class="form-control" placeholder="Apellido " ng-model="alumno.apellido">
        <br>
        <!-- label for="asignatura">Notas:</label>
        <br>
        <label for="name">Ingrese las respuestas de la pruebas separadas por un espacio y en mayúsculas:</label>
        <input type="text" class="form-control" placeholder="A B D C A C" ng-model="evaluacion.respuestas"> -->
        
        <br>
        <button type="submit" class="btn text-white btn-lg btn-block" style="background-color: #ff1744" ng-click="actualizar()">Actualizar</button>
    </div>