<div class="col-lg-8" style="background-color:pink;">
                    
    <div class="widget nueva_entrada">    
            <div class="card  w-75">
                <div class="card-body">
                  <h4 class="card-title">Lunes</h4>
                  <p class="card-text">Evaluación. <br> Paralelo:10mo <br> Materia: Ingles

                  </p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Martes</h4>
                  <p class="card-text">Sin Eventos</p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Miercoles</h4>
                  <p class="card-text">Sin Eventos</p>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Jueves</h4>
                  <p class="card-text">Sin Eventos</p>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Viernes</h4>
                  <p class="card-text">Sin Eventos</p>
                </div>
              </div>
        </div>
        
</div>
