<div class="jumbotron" >

    <label for="name">Nombre de la Clase:</label>
    <input type="text" class="form-control" placeholder="Ingrese Nombre" ng-model="clase.nombre_clase">
    <br>
    <label for="asignatura">Asignatura:</label>
    <input type="text" class="form-control" placeholder="Materia " ng-model="clase.materia">
    <br>
  

    <br>
    <button type="submit" class="btn text-white btn-lg btn-block" style="background-color: #ff1744" ng-click="agregar()">Crea Nueva Clase</button>
</div>
